include .coveragerc
include LICENSE
include MANIFEST.in
include README.rst
include mopidy_yap/ext.conf
include mopidy_yap/static/favicon.ico

recursive-include tests *.py

# added by check_manifest.py
recursive-include mopidy_yap *.css
recursive-include mopidy_yap *.eot
recursive-include mopidy_yap *.html
recursive-include mopidy_yap *.js
recursive-include mopidy_yap *.svg
recursive-include mopidy_yap *.ttf
recursive-include mopidy_yap *.woff
recursive-include mopidy_yap *.woff2
